body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/**************/

body {
    background-color: #202628;
}
.loader-circle-87 {
    height: 50px;
    width: 50px;
    position: relative;
}
.loader-circle-87::after,
.loader-circle-87::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    border: solid 8px transparent;
    border-radius: 50%;
    animation: loader-circle-87-spin 1.4s ease infinite;
}
.loader-circle-87::before {
    border-top-color: #cddc39;
    border-bottom-color: #ff9800;
}
.loader-circle-87::after {
    border-left-color: #03a9f4;
    border-right-color: #e91e63;
    animation-delay: 0.7s;
}
@keyframes loader-circle-87-spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(0.5);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}